asgiref==3.8.1
autopep8==2.3.2
cfgv==3.4.0
distlib==0.3.9
Django==5.1.6
django-cors-headers==4.3.1
django-dotenv==1.4.2
djangorestframework==3.14.0
djangorestframework_simplejwt==5.4.0
filelock==3.17.0
gunicorn==23.0.0
identify==2.6.6
nodeenv==1.9.1
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
pycodestyle==2.12.1
PyJWT==2.10.1
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
sqlparse==0.5.3
virtualenv==20.29.1
whitenoise==6.9.0
